In [5]:
import pandas as pd

### Merging 12 months of sales data into a single file

In [6]:
from IPython.core.magic import register_cell_magic
from IPython.display import HTML, display

@register_cell_magic
def bgc(color, cell=None):
    script = (
        "var cell = this.closest('.jp-CodeCell');"
        "var editor = cell.querySelector('.jp-Editor');"
        "editor.style.background='{}';"
        "this.parentNode.removeChild(this)"
    ).format(color)

    display(HTML('<img src onerror="{}">'.format(script)))

In [7]:
import os

# Specify the directory containing your CSV files
directory = 'Sales_Data/'

# List all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

csv_files

['Sales_December_2019.csv',
 'Sales_April_2019.csv',
 'Sales_February_2019.csv',
 'Sales_March_2019.csv',
 'Sales_August_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_January_2019.csv',
 'Sales_September_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'merged_file.csv']

In [8]:

# Read each CSV file and concatenate them into a single DataFrame
dfs = [pd.read_csv(os.path.join(directory, file)) for file in csv_files]
merged_df = pd.concat(dfs, ignore_index=True)

# Export the merged DataFrame to a CSV file
merged_df.to_csv(directory+'merged_file.csv', index=False)
print(merged_df)

       Order ID                 Product Quantity Ordered Price Each  \
0        295665      Macbook Pro Laptop                1       1700
1        295666      LG Washing Machine                1      600.0
2        295667    USB-C Charging Cable                1      11.95
3        295668        27in FHD Monitor                1     149.99
4        295669    USB-C Charging Cable                1      11.95
...         ...                     ...              ...        ...
560545   222905  AAA Batteries (4-pack)                1       2.99
560546   222906        27in FHD Monitor                1     149.99
560547   222907    USB-C Charging Cable                1      11.95
560548   222908    USB-C Charging Cable                1      11.95
560549   222909  AAA Batteries (4-pack)                1       2.99

            Order Date                        Purchase Address
0       12/30/19 00:01  136 Church St, New York City, NY 10001
1       12/29/19 07:03     562 2nd St, New York City, NY 10001
2       12/12/19 18:21    277 Main St, New York City, NY 10001
3       12/22/19 15:13     410 6th St, San Francisco, CA 94016
4       12/18/19 12:38           43 Hill St, Atlanta, GA 30301
...                ...                                     ...
560545  06/07/19 19:02           795 Pine St, Boston, MA 02215
560546  06/01/19 19:29   495 North St, New York City, NY 10001
560547  06/22/19 18:57   319 Ridge St, San Francisco, CA 94016
560548  06/26/19 18:35    916 Main St, San Francisco, CA 94016
560549  06/25/19 14:33          209 11th St, Atlanta, GA 30301

[560550 rows x 6 columns]

In [9]:
dfs = [pd.read_csv(os.path.join(directory, file)) for file in csv_files]
type([x for x in dfs])

list

In [10]:
merged_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
560545,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
560546,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
560547,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
560548,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
560549,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [11]:
#[x for x in merged_df if x['Order ID'] == 176558]
merged_df[merged_df['Order ID'] == '295665']

print(merged_df['Order ID'].dtypes)

object

##### Q1 What was the best month for sales? How much was earned that month?

In [13]:
#max(int(x) for x in merged_df['Order ID',skiprows=1])
#merged_df['Order ID'] = pd.to_numeric(merged_df['Order ID'], errors='coerce')

max_order_id_row = merged_df[merged_df['Price Each'] == merged_df['Order ID'].max()]

merged_df.dropna()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [14]:
merged_df['Order Date'] = pd.to_datetime(merged_df['Order Date'], errors='coerce')

/var/folders/35/vw_j2d_n7kj95gf_rltgld9h0000gn/T/ipykernel_13601/1338565842.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_df['Order Date'] = pd.to_datetime(merged_df['Order Date'], errors='coerce')

In [ ]:
merged_df['Month'] = merged_df['Order Date'].dt.to_period('M')


merged_df['Month']

0         2019-12
1         2019-12
2         2019-12
3         2019-12
4         2019-12
           ...
186845    2019-06
186846    2019-06
186847    2019-06
186848    2019-06
186849    2019-06
Name: Month, Length: 186850, dtype: period[M]

In [ ]:
merged_df['Brutto'] = pd.to_numeric(merged_df['Price Each'], errors='coerce') * pd.to_numeric(merged_df['Quantity Ordered'], errors='coerce')

In [ ]:

monthly_sales = merged_df.groupby('Month')['Brutto'].sum()

mer

print(monthly_sales.idxmax())

2019-12